.dropdown-block {
  margin-bottom: 10px;
}

.some-block {
  margin-bottom: 10px;
}

.dropdown-check-list-include-categories {
  display: inline-block;
}

.dropdown-check-list-include-categories .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
  width: 200px;
}

.dropdown-check-list-include-categories .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list-include-categories .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list-include-categories ul.items {
  overflow-y: scroll;
  height: 300px;
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list-include-categories ul.items li {
  height: 20px;
  list-style: none;
}

.dropdown-check-list-include-categories.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list-include-categories.visible .items {
  display: block;
}



.dropdown-check-list-hard-exclude-categories {
  display: inline-block;
}

.dropdown-check-list-hard-exclude-categories .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
  width: 200px;
}

.dropdown-check-list-hard-exclude-categories .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list-hard-exclude-categories .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list-hard-exclude-categories ul.items {
  overflow-y: scroll;
  height: 300px;
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list-hard-exclude-categories ul.items li {
  height: 20px;
  list-style: none;
}

.dropdown-check-list-hard-exclude-categories.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list-hard-exclude-categories.visible .items {
  display: block;
}


.dropdown-check-list-soft-exclude-categories {
  display: inline-block;
}

.dropdown-check-list-soft-exclude-categories .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
  width: 200px;
}

.dropdown-check-list-soft-exclude-categories .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list-soft-exclude-categories .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list-soft-exclude-categories ul.items {
  overflow-y: scroll;
  height: 300px;
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list-soft-exclude-categories ul.items li {
  height: 20px;
  list-style: none;
}

.dropdown-check-list-soft-exclude-categories.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list-soft-exclude-categories.visible .items {
  display: block;
}